/* start variables */
:root {
    --main-color: hsl(256, 67%, 59%);
    --secondary-color: hsl(39, 100%, 71%);
    --section-margin-bottom: 20px;
    --main-border-radius: 10px;
    --main-line-height: 1;
}
/* end variables */

/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "DM Sans", sans-serif;
}

img {
    max-width: 100%;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
.container {
    padding: 10px;
    background-color: #f5f5f5;
}

@media (min-width: 992px) {
    .container {
        padding: 60px 100px;
        margin: 50px auto;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        box-shadow: 0 5px 10px 0 #929292;;
    }
}

@media (min-width: 992px) {
    .bigger-parent {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(6, auto);
        gap: 20px;
    }
}
/* start header */
header {
    background-color: var(--main-color);
    color: hsl(0, 0%, 100%);  
    text-align: center;
    padding: 40px;
    border-radius: var(--main-border-radius);
    margin-bottom: var(--section-margin-bottom);
}

@media (min-width: 992px) {
    header {
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        margin-bottom: 0;
        padding: 50px 40px 40px;
    }
}

header h1 {
    font-weight: normal;
    font-size: 50px;
    line-height: var(--main-line-height);
    margin-bottom: 20px
}

header img {
    width: 200px
}

header h1 span:first-child {
    color: var(--secondary-color);
}

header h1 span:last-child {
    font-style: italic;
}

header p {
    font-size: 18px;
}
/* end header */

/* start social-media */
.social-media {
    background-color: hsl(0, 0%, 100%);
    padding: 20px 30px;
    margin-bottom: var(--section-margin-bottom);
    border-radius: var(--main-border-radius);
}

@media (min-width: 992px) {
    .social-media {
        margin-bottom: 0;
        overflow: hidden;
        grid-column: 1 / 2;
        grid-row: 3 / 5;
        padding: 20px;
    }
}

.social-media img {
    border-radius: 38px;
    margin-bottom: 16px;
}

@media (min-width: 992px) {
    .social-media img {
        max-width: 160%;
    }
}

.social-media h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.5px;
    line-height: var(--main-line-height);
}
/* end social-media */

/* Start posting schedule */
.posting-schedule { 
    background-color: var(--secondary-color);
    margin-bottom: var(--section-margin-bottom);
    border-radius: var(--main-border-radius);
    padding: 20px;
    height: 204px;
    overflow: hidden;
    position: relative;
}

@media (min-width: 992px) {
    .posting-schedule {
        margin-bottom: 0;
        height: auto;
        grid-column: 2 / 3;
        grid-row: 3 / 5;
    }
}

.posting-schedule h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.3px;
    line-height: var(--main-line-height);
    margin-bottom: 16px;
}

.posting-schedule img {
    width: 187px;
}

@media (min-width: 992px) {
    .posting-schedule img {
        position: absolute;
    }
}
/* end posting schedule */

/* start social schedule */
.social-shedule {
    background-color: hsl(254, 88%, 90%);
    padding: 25px;
    border-radius: var(--main-border-radius);
    text-align: center;
    margin-bottom: var(--section-margin-bottom);
}

@media (min-width: 992px) {
    .social-shedule {
        grid-column: 3 / 4;
        grid-row: 1 / 5;
        margin-bottom: 0;
        text-align: left;
        overflow: hidden;
    }
}

.social-shedule h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.3px;
    margin-bottom: 16px;
    line-height: var(--main-line-height);
}

.social-shedule img {
    margin-bottom: 16px;
}

@media (min-width: 992px) {
    .social-shedule img {
    max-width: 178%;
    }
}

.social-shedule p {
    font-size: 17px;
    padding: 0 17px;
    color: hsl(0, 0%, 7%);
}

@media (min-width: 992px) {
    .social-shedule p {
        text-align: left;
        padding: 0;
    }
}

/* end social schedule */

/* start followers */
.followers {
    background-color: var(--main-color);
    padding: 25px 55px;
    border-radius: var(--main-border-radius);
    margin-bottom: var(--section-margin-bottom);
    text-align: center;
}

@media (min-width: 992px) {
    .followers {
        grid-column: 2 / 4;
        grid-row: 5 / 7;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        text-align: left;
    }
}

.followers img {
    width: 250px;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .followers img {
        margin-bottom: 0;
    }
}

.followers h3 {
    color: hsl(0, 0%, 100%);
    font-weight: normal;
    font-size: 35px;
    line-height: var(--main-line-height);
}

@media (min-width: 992px) {
    .followers h3 {
        font-size: 28px;
    }
}

/* end followers */

/* start audience */
.audience {
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--main-border-radius);
    margin-bottom: var(--section-margin-bottom);
    padding: 20px;
}

@media (min-width: 992px) {
    .audience {
        grid-column: 1 / 2;
        grid-row: 5 / 7;
        margin-bottom: 0;
    }
}

.audience h3 {
    font-size: 55px;
    font-weight: normal;
}

.audience p {
    font-size: 17px;
    color: hsl(0, 0%, 7%);
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .audience p {
        margin-bottom: 40px;
    }
}

.audience img {
    width: 200px;
}
/* end audience */

@media (min-width: 992px) {
    .smaller-parent {
        display: grid;
        grid-template-columns: 225px;
        gap: 20px;
    }
}
/* start content */
.content {
    background-color: hsl(31, 66%, 93%);
    border-radius: var(--main-border-radius);
    margin-bottom: var(--section-margin-bottom);
    padding: 30px 0 30px 30px;

}

@media (min-width: 992px) {
    .content {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        margin-bottom: 0;
        padding: 50px 25px;
    }
}

.content h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: var(--main-line-height);
    letter-spacing: -1px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .content h3 {
        letter-spacing: -2px;
    }
}

.content h3 span {
    color: var(--main-color);
    font-style: italic;
}

.content img {
    width: 220px;
}

@media (min-width: 992px) {
    .content img {
        width: 180px;
    }
}
/* end content */

/* start write-using-ai */
.write-using-ai {
    background-color: var(--secondary-color);
    border-radius: var(--main-border-radius);
    padding: 20px;
}

@media (min-width: 992px) {
    .write-using-ai {
        grid-row: 4 / 7;
        margin-bottom: 0;
    }
}

.write-using-ai h3 {
    font-weight: 500;
    font-size: 35px;
    line-height: var(--main-line-height);
    letter-spacing: -1px;
    margin-bottom: 20px;
}

@media (min-width: 992px) {
    .write-using-ai h3 {
        margin-bottom: 40px;
        letter-spacing: -2px;
        padding-right: 12px;
    }
}

.write-using-ai img {
    width: 250px;
}

@media (min-width: 992px) {
    .write-using-ai img {
        width: 300px;
    }
}
/* end write-using-ai */

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
